.active {
  background-color: #bffcf9;
  color: #000000;
  font-family: inter;
  font-weight: semibold;

  font-size: small;
}

.inActive {
  font-family: inter;
  font-weight: semibold;
  font-size: small;
  color: white;
}
.inActive:hover {
  box-shadow: 4px;
  transition: all;
  color: #bffcf9;
}
