.meal:hover .info {
  height: 330px;
  transition: 0.3s;
}

.meal:hover .button {
  visibility: visible;
}

/* .singlePlan {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(243, 26, 97, 1);
}

.box {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.box:hover {
  transform: translateY(-50px);
} */

/* contact us css */

.container div input:focus ~ label,
.container div input:valid ~ label {
  top: -35px;
  font-size: 14px;
  left: 0px;
  margin-top: 10px;
}

.container div textarea:focus ~ label {
  top: -35px;
  font-size: 14px;
  left: 0px;
  margin-top: 10px;
}

/* upcoming meals page css */

.upcomingCard {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.upcomingCard:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.upcomingCardContent {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #4c82f6 58 58%);
  position: absolute;
  left: 0;
  bottom: -220px;
  overflow: hidden;
  transition: height 0.5s;
}
.upcomingCard:hover .upcomingCardContent {
  height: 100%;
}

/*  */

.btnAll {
  position: relative;
  display: inline-flex;
  color: white;

  overflow: hidden;
}

.btnAll:hover span {
  color: #000000;
}
.btnAll span {
  z-index: 1;
}

.btnAll::before {
  content: "";
  position: absolute;

  bottom: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: #bffcf9;
  border-top-right-radius: 50px;
  transition: width 0.5s, height 0.5s;
}

.btnAll:hover::before {
  width: 300px;
  height: 300px;
}
