@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-[#161515];
  }

  body {
    @apply bg-[#181e2a] font-Outfit  text-white;
  }
}

.slick-slide > div {
  margin: 0 5px;
}

.meal:hover .info {
  height: 330px;
  transition: 0.3s;
}

.meal:hover .button {
  visibility: visible;
}

.container div input:focus ~ label,
.container div input:valid ~ label {
  top: -35px;
  font-size: 14px;
  left: 0px;
  margin-top: 10px;
}

.container div textarea:focus ~ label {
  top: -35px;
  font-size: 14px;
  left: 0px;
  margin-top: 10px;
}

/* upcoming meals page css */

.upcomingCard {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.upcomingCard:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
}
.upcomingCardContent {
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #4c82f6 58 58%);
  position: absolute;
  left: 0;
  bottom: -220px;
  overflow: hidden;
  transition: height 0.5s;
}
.upcomingCard:hover .upcomingCardContent {
  height: 100%;
}

/*  */

.btnAll {
  position: relative;
  display: inline-flex;
  overflow: hidden;
}

/* .btnAll:hover span {
  color: #000000;
} */
.btnAll span {
  z-index: 1;
}

.btnAll::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 0px;
  background-color: #ffffff;
  border-top-right-radius: 50px;
  transition: width 0.4s, height 0.4s;
}

.btnAll:hover::before {
  width: 300px;
  height: 300px;
}

/* contact us */

@layer utilities {
  .inputAndTextarea {
    @apply outline-none rounded-lg bg-p6 pl-2 w-full py-2.5 mb-4;
  }

  .labelContact {
    @apply absolute left-3 top-2  font-semibold transition-all duration-200;
  }

  .btnRegular {
    @apply mt-4 px-4 lg:px-6 py-1 lg:py-2 font-medium rounded bg-p1 transition-all duration-200 btnAll;
  }

  .headTitle {
    @apply text-3xl lg:text-4xl text-center font-bold;
  }

  .addFlex {
    @apply flex justify-center items-center;
  }

  .addFlexItems {
    @apply flex items-center;
  }

  .addFlexJustify {
    @apply flex justify-center;
  }
  .addFlexBetween {
    @apply flex justify-between items-center;
  }

  .navInActive {
    @apply lowercase
     rounded-full hover:bg-p1 hover:text-p5 py-1 lg:py-2 lg:px-4 transition-all duration-150;
  }
  .navActive {
    @apply lowercase
     rounded-full  py-1 lg:py-2 lg:px-4 text-p5 hover:bg-p1 bg-p1   transition-all duration-150;
  }
  .dashboardInActive {
    @apply lowercase addFlexItems gap-2 hover:bg-[#1d2029] rounded transition-all duration-150  py-1 lg:py-2 lg:px-4;
  }
  .dashboardActive {
    @apply lowercase addFlexItems gap-2 bg-[#1d2029] text-p1 rounded transition-all duration-150  py-1 lg:py-2 lg:px-4;
  }

  .btnAllGlobal {
    @apply btnAll px-7 lg:px-8 py-3 
    font-medium rounded-full [&_span]:hover:text-p4;
  }

  .updateBtn {
    @apply px-4 py-1 rounded bg-p1 addFlexItems gap-2 text-sm;
  }
  .deleteBtn {
    @apply px-4 py-1 rounded  bg-b1  addFlexItems gap-2 text-sm;
  }
  .detailsBtn {
    @apply px-4 py-1 rounded 
    bg-p5 text-p4 addFlexItems gap-2 text-sm;
  }
  .errorText {
    @apply text-p1 text-sm -mt-2;
  }
  .errorAddMeal {
    @apply text-p1 mr-4;
  }
  .registerInputWidth {
    @apply lg:w-[400px] w-3/4 mx-auto mb-1;
  }
}
